header{
    background-color: rgb(198, 223, 147);
    font-size: 40px;
    text-align: center;
    padding: 10px;
}


nav{
    background-color: blue;
    position: fixed;
    bottom: 0;

}

header{
    background-color: brown;
    
}

footer{
    background-color: rgb(61, 169, 133);

}

#sidebar{
    background-color: rgb(82, 177, 92);
}
#content1{
    background-color: rgb(51, 173, 173);
}
#content2{
    background-color: rgb(48, 48, 167);
}
#content3{
    background-color: rgb(160, 99, 24);
}
