body{
    margin:auto;
    background-image: url(/Images/fern-g689e9ca68_1920.jpg);
    padding:15px;
}

header{
    background-color: #102601;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    grid-column: 1/6;
}


nav{
    
    position: fixed;
    bottom: 0;
    grid-row: 1/4;
   
}
.navbar-custom {
    background-color: #EDE9E8 !important;
    opacity:80%;
    
}




footer{
    background-color: #102601;
    font-size: 0.3em;
    color: #ecce24;
    height: 20em;
    align-items: center;
    padding-top: 5em;

}

#article{
   
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width:978px;
    background-color: #EDE9E8;
    opacity: 80%;
    color: black;
}
  