body{
    margin:auto;
    background-image: url(/Images/fern-g689e9ca68_1920.jpg);
    padding:15px;
}

header{
    background-color: rgb(198, 223, 147);
    font-size: 40px;
    text-align: center;
    padding: 10px;
    grid-column: 1/6;
}


nav{
    background-color: blue;
    position: fixed;
    bottom: 0;
    grid-row: 1/4;
}


footer{
    background-color: rgb(54, 109, 74);
    font-size: 0.3em;
    color: #ecce24;
    height: 20em;
    align-items: center;
    padding-top: 5em;

}

#article{
    background-image: url(../Mirva/imgs/students-3518726_640.jpg);
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width:978px;
    
}
  