/* Sara-Sofia Kesäniemi*/

.navbar{
    background-color:#479fad;
    height:50px;
    padding-left: 50px;
    border:2px #0c2b2f solid;
    
}
.visa{
    width: 80%;
    margin: 5px 0px 15px 0px;
    
}

body{
    background-image: url(../Images/sarantausta.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
}

header{
    background-color: #274247;
    font-size: 4em;
    text-align: center;
    padding: 15px;
    font-family: 'Patrick Hand SC', cursive;
    color: #ecce24;  
}

header img{
    float: left;
    padding-left: 8%;
    
}

nav{

    font-family: 'Patrick Hand SC', cursive;
   
}

#navi{
    height: 50%;
    padding-left: 70px;
   
       
}

h1{
    background-color:#a83d67;
    margin:20px;
    text-align: center;
    width:50%;
    position: relative;
    left:13%;
    opacity:80%;
    color:#0c2b2f;    

}

#container, #scores{
    background-color:#358c7f;
    opacity:90%;
    width:49%;
    margin-bottom:5px;
    padding:10px;
    position:relative;
    left:15%;
    border-radius:7px;
    border: 3px solid #0c2b2f;
    text-align: center;
    font-size: 1.0em;  
    
}
#answers{
    background-color:#358c7f;
    opacity:90%;
    width:49%;
    margin-bottom:5px;
    position:relative;
    left:15%;
    border-radius:7px;
    border: 3px solid #0c2b2f;
    text-align: left;
    padding:10px;
    font-size: 1.2em;
}
#answerComment{
    font-size: 1.2em;
}

.hidden{
    display:none;
}

.opt{
    border: 3px solid #0c2b2f;
    font-size: 1.2em;
    background-color:#479fad;
    margin:5px;
    padding:5px;
}

.mainButtons{
    margin:10px;
    background-color:#a83d67;
}
#backToQuizButton{
    position:relative;
    left:150px;
    
}

.prize{
    height:280px;
    margin-top:10px;
    position:relative;
    top:30px;
}

footer{
    background-color:#274247;
    font-size: 0.3em;
    color: #ecce24;
    height: 20em;
    align-items: center;
    padding-top: 5em;
    font-family: 'Patrick Hand SC', cursive;
    
}
/* Responsiivisuus muotoilut */
@media screen and (max-width:768px){
    #navi{
        padding-left:0px;
        margin:0;
        
        
    }
    .navbar{
        background-color: #479fad;;
        padding-left:0px;

    }
    .navbar-brand{
        font-size:15px;
        text-align: center;
        padding-left:6px;
    }
    #container, #scores{
        background-color:#358c7f;
        width:300px;
    }
    h1{
        width:300px;
         
    
    }
}